.splash.project
  .animation-container.animate-on-load
    include ../../../img/work-alcatel/world_low.svg
  header.title-container
    h1.title Alcatel-Lucent
    h2.tagline Stories of connection
    p.description.width-extra-narrow-center.centered-text In collaboration with award winning film-makers Lonely Leap, we created a video-rich site for Alcatel-Lucent, the leader in IP networking, ultra-broadband access and cloud technologies and a company behind much of the communications infrastructure of our modern&nbsp;world.
  .split-card-before
  .card.split-card-to-space.width-normal
    h2 Building networks
    p.left-text Alcatel-Lucent has been through an incredible transformation since 2013. Lonely Leap reached out to us to help tell their story through the web. The site needed to be inspiring and engaging for a wide range of viewers - from current and prospective employees, to customers, to shareholders, to the people who made it all happen.