.section.body
  .sub-section.key-point
    .split-card-after
    .centered-container.width-narrow
      h2.title Focusing on human stories
      p.copy Alcatel-Lucent has created brilliant human change across the world, enabling networks that open up opportunities for the people of Africa, to ensuring that people can get to work quickly and easily every morning in Paris.

      p.copy We wanted to tell these stories through powerful narratives that looked and worked beautifully on any device.
    .centered-container.width-x-wide.collage.animate-on-scroll
      img(src='/img/work-alcatel/collage-1.jpg', alt='alcatel screenshot', class='collage-image-1')
      img(src='/img/work-alcatel/collage-2.png', alt='alcatel screenshot', class='collage-image-2')
      img(src='/img/work-alcatel/collage-3.jpg', alt='alcatel screenshot', class='collage-image-3')
      img(src='/img/work-alcatel/collage-4.png', alt='alcatel screenshot', class='collage-image-4')
      img(src='/img/work-alcatel/collage-5.png', alt='alcatel screenshot', class='collage-image-5')
      img(src='/img/work-alcatel/collage-6.png', alt='alcatel screenshot', class='collage-image-6')
      img(src='/img/work-alcatel/collage-7.jpg', alt='alcatel screenshot', class='collage-image-7')
      img(src='/img/work-alcatel/collage-8.png', alt='alcatel screenshot', class='collage-image-8')
      img(src='/img/work-alcatel/collage-9.jpg', alt='alcatel screenshot', class='collage-image-9')
      img(src='/img/work-alcatel/collage-10.png', alt='alcatel screenshot', class='collage-image-10')
      img(src='/img/work-alcatel/collage-11.png', alt='alcatel screenshot', class='collage-image-11')
      img(src='/img/work-alcatel/collage-12.png', alt='alcatel screenshot', class='collage-image-12')
  .sub-section.results
    .centered-container.width-narrow
      h2.title Results
      p.copy Alcatel Lucent was thrilled with the result of the project, with extremely positive feedback from their employees and their customers, and the audience at large.
      .col-2.stat
        h3.stat
          | 45,000
          span.small-caps +
        p.qualifier Views in the first four months
      .col-2
        h3.stat 50%
        p.qualifier Mobile access rate
    .split
      blockquote.minor.card.width-slightly-narrow
        p.quote I’d like to thank in particular, the people at LonelyLeap and Make Us Proud for their creativity, the quality and efficiency of their work.
        .person
          img(src='/img/portraits/joel.jpg', alt='Joel Pagot', class='headshot')
          p.attribution
            span.name JOEL PAGOT 
            span.role ALCATEL-LUCENT COMMUNICATIONS&nbsp;MANAGER
  .sub-section.achievements
    .centered-container.width-narrow
      h2.title Every success has its network
      p.copy One of the biggest challenges was finding ways to explain technical concepts in a simple, enjoyable way, and present large volumes of data effortlessly - helping readers understand the story and find the experience both engaging and delightful.
    .centered-container.width-wide.click-through
      .browser-frame
        video(class='play-on-scroll' poster='/img/work-alcatel/click-through.jpg' loop)
          source(src='/img/work-alcatel/click-through.mp4' type='video/mp4')
    .centered-container.width-normal.annotated-phone-video
      .phone-frame
        video(class='play-on-scroll' poster='/img/work-alcatel/paris-mobile.png'  loop)
          source(src='/img/work-alcatel/paris-mobile.mp4' type='video/mp4')
      .caption-container
        h2 Explaining complexity
        p How could we illustrate the changes made by a huge infrastructure project? Alcatel-Lucent helped the Paris metro to combine their separate legacy systems - IT, CCTV, passenger info, telephony and radio into one seamless IP network. With a simple animation we were able to describe the change and make the benefits clear. 
        a(href="http://success.alcatel-lucent.com/en/signaling-change-for-the-paris-metro").big-blue Read the full Paris Metro Story
    .centered-container.width-normal.annotated-phone-video
      .phone-frame
        .top-mask
          video(class='play-on-scroll' poster='/img/work-alcatel/map-mobile.png' loop)
            source(src='/img/work-alcatel/map-mobile.mp4' type='video/mp4')
      .caption-container
        h2 Navigating data
        p The team at Alcatel-Lucent was keen to include a mass of data in the site, but it needed to be easy to explore on any device. With our adaptive User Interface, we made sure viewers could find what they needed while exploring the user-friendly interface.
        a(href="http://success.alcatel-lucent.com/en/ip-solutions").big-blue Read the full IP Solutions Story
  .sub-section.approach
    .centered-container.width-narrow
      h2.title Our approach
      p.copy We began by discussing the potential stories we could tell about Alcatel-Lucent’s remarkable transformation, and developed ways we could bring them to life through data visualisation and interactive features. We decided a key priority was to provide a human element to the site and celebrate the individuals and teams who were behind the success.
      img(src='/img/work-alcatel/workshop.jpg', alt='Workshopping wth LonelyLeap')
      p.caption Workshopping wth LonelyLeap
      
