.section.process
  .title-container
    h1.title Project Evolution
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.first
        p Usability prototype
      h2.title Sketching &amp; rough builds
      p.copy We mapped out the problem space, found ways to tie the stories together, then developed and tested visual ways to bring complex data to life.
      img(src='/img/work-alcatel/process-1.png', alt='sketching')
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker
        p Native prototype
      h2.title Interaction development
      p.copy Coding the structure of the new site, testing interactions and refining ideas for animation.
      img(src='/img/work-alcatel/process-2.png', alt='prototype')
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.last
        p Lovable Product
      h2.title.white Refining and polishing
      p.copy With our ideas tested, iterated and validated, we could now build out the full site and fine-tune every detail for release. 
      .centered-container.width-narrow
        video(class='play-on-scroll' poster='/img/work-alcatel/process-2.png' loop)
          source(src='/img/work-alcatel/sputnik.mp4' type='video/mp4')
      .cta-container
        a(href='http://www.alcatel-lucent.com//success' target='_blank').cta Go check it out