.section.body
  .sub-section.native-prototyping
    .split-card-after
    .centered-container.width-narrow
      h2.title The Outcome
      p.copy We created a refined, simple content-driven experience, focused on the beautiful content that Discovery are creating and putting the visual richness at the core of the design. This was re-enforced by a strong full-screen expereince no matter what device you were exploring with.
    .centered-container.width-wide
      img(src='/img/work-discovery/results1.jpg', alt='', class='results1')
      img(src='/img/work-discovery/results2.jpg', alt='', class='results2')    
  .sub-section.results
    .centered-container.width-narrow
        h2.title Native prototyping
        p.copy To get the 'feel' of the UI right, we began by designing a simple, animated navigation experience that would work on any device. 
        p.copy By working directly in code and adding live controls to our animation and interactions, we were able to create and test our interaction ideas quickly, leading to a beautiful motion branding fit, and a delightful and intuitive interface experience that worked beautifully on any device. 
        p.copy Below is the final prototype for the UI showing just how much control we had over the final animation experience.
    .centered-container.width-wide
      .browser-frame
        video(class='play-on-scroll' poster='/img/work-discovery/menu-demo.jpg' loop)
          source(src='/img/work-discovery/menu-demo.mp4' type='video/mp4')
  .sub-section.details
    .centered-container.width-narrow
      h2.title Fast and accessible
      p.copy By designing and testing across all devices simultatiously, we were able to create a UI that felt consistent on an iPhone to a 27 inch iMac, and everything in between. Pick up or use any device and have the same level of understanding with zero learning curve.
    .centered-container.width-narrow
      img(src='/img/work-discovery/fast1.jpg', alt='', class='fast1')
      img(src='/img/work-discovery/fast2.jpg', alt='', class='fast2')
  //- .sub-section.approach
  //-   .centered-container.width-narrow
  //-     h2.title Our approach
  //-     p.copy Speed was key for this project, so we began a series of iterations working with the simplest tools available - paper prototypes. Once we had tested ideas with users, we began working directly in code, enabling us to test interactions and behaviours in the native environment of the web.