.splash.project
  .animation-container.animate-on-load
    .palm-1
      include ../../../img/work-discovery/header/fat palm.svg
    .palm-2
      include ../../../img/work-discovery/header/palm.svg
    .palm-3
      include ../../../img/work-discovery/header/shrub.svg
    .palm-4
      include ../../../img/work-discovery/header/small.svg
    .palm-5
      include ../../../img/work-discovery/header/tree.svg
  header.title-container
    h1.title Discovery Channel
    h2.tagline An interface for exploration
    .width-extra-narrow-center
      p.description.centered-text A delightful, simple cross-platform on-demand video service that helps users discover great content.
  .split-card-before
  .card.split-card-to-space.width-normal
    h2 A new experience
    p.left-text Discovery channel are renowned for their world-leading content, and desired a way to bring this to their existing and future paying audience as an on-demand video service. They came to us to imagine a whole new experience for their users, with an accessible and delightful new interface that helped re-enforce the strength of the Discovery brand, and define a beautiful cross-device experience.