.section.process
  .title-container
    h1.title Project Evolution
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.first
        p Usability prototype
      h2.title Paper prototyping
      p.copy Using just pen and paper, we were able to quickly and efficiently test ideas with users and iterate simple interaction ideas till we had something really compelling.
      video(class='play-on-scroll' poster='/img/work-discovery/paper-menu.jpg' loop)
        source(src='/img/work-discovery/paper-menu.mp4' type='video/mp4')
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.last
        p Native prototype
      h2.title Coding behaviour
      p.copy With our ideas tested we were able to build in code, adding a dashboard as we went so we could fine-tune animations directly as we made further tests with users.
      .browser-frame
        video(class='play-on-scroll' poster='/img/work-discovery/search.jpg' loop)
          source(src='/img/work-discovery/search.mp4' type='video/mp4')