.section.body
  .sub-section.intent-driven
    .split-card-after
    .centered-container.width-narrow
      h2.title An intent-driven portal
      p.copy We looked at how users wanted to express their business problems on a day-to-day basis, breaking down the issues they faced into simple elements. With this understanding we were able to design an intuitive workflow that helped users achieve their goals simply and intuitively.
    .centered-container.width-x-wide
      .browser-frame
        video(class='play-on-scroll' poster='/img/work-geniac/intent-bar.png' loop)
          source(src='/img/work-geniac/intent-bar.mp4' type='video/mp4')
  .sub-section.outcome
    .centered-container.width-narrow
      h2.title The outcome
      p.copy Users loved the new platform, and our work played an instrumental role in Geniac’s success. In the time we’ve worked with them, Geniac have gone from a tiny startup to a well-funded player looking set to make big waves in their industry. Financial support came from Grant Thornton, one of the largest Business Advisory firms in the world.
      .col-2.stat
        h3.stat
          | £22 
          span.small-caps Million
        p.qualifier Funding
      .col-2
        h3.stat
          span.small-caps up to  
          | 400
        p.qualifier New jobs created
    .split
      blockquote.minor.card.width-normal
        p.quote Make Us Proud left a real impression on our business, helping us to transform our product into something our customers&nbsp;truly&nbsp;love.
        .person
          img(src='/img/portraits/matt.jpg', alt='matt wood', class='headshot')
          p.attribution
            span.name Matthew Wood 
            span.role Geniac Product Owner
  .sub-section.details
    .centered-container.width-narrow
      h2.title Business management reinvented
      p.copy Our design created a whole new way for users to think about managing their business - elegantly and directly without constantly having to phone or email to get things done. 
    .centered-container.width-narrow.spaced
      h3.minor-header A radical new interface
      p.copy Our user-centred interface design changed the industry perspective on how an integrated service could solve customer problems, opening up new opportunities for Geniac.
      p.copy We created a unique interface called the 'Intent Bar', a simple intuitive way for a users to navigate any issues they face in running their business.
      p.copy We also designed a simple, effective flow for tasks within the system. Every 'intent' is tracked throughout your business, letting you easily find anything you've achieved in the past. "What happened when I hired Amy?" "What were the days that James had off last week?" all simple and easy to recall.
      p.copy We tested this new approach with existing and future users, and the feedback was overwhelmingly positive.
    .centered-container.width-normal.mobile-annotations.show-under-800
      img(src='/img/work-geniac/personal-manager.svg', alt='').mobile-annotation
      .browser-frame
        img(src='/img/work-geniac/personal-manager.png', alt='personal manager')
      img(src='/img/work-geniac/flexible-working.svg', alt='').mobile-annotation
      .browser-frame
        img(src='/img/work-geniac/flexible-working.png', alt='intent bar flexible working')
      img(src='/img/work-geniac/active-cases.svg', alt='').mobile-annotation
      .browser-frame
        img(src='/img/work-geniac/active-cases.png', alt='dashboard active cases')
    .centered-container.width-x-wide.desktop-annotations.show-over-800
      img(src='/img/work-geniac/annotation-overlay.svg', alt='').overlay
      .browser-frame
        img(src='/img/work-geniac/annotation-ui.png', alt='geniac interface')
    .centered-container.width-narrow.spaced
      h3.minor-header A beautiful marketing site
      p.copy In close collaboration with Geniac, we created a powerful new site that explained their proposition clearly and celebrated their diverse team and satisfied customers. We found that the simplicity of the UI brought real clarity to how the product made a business owners life simpler. You could see how this changed your life.
      p.copy We paired this simplicity with inspiring imagery of Geniac's existing customer base, and how they've helped springboard them to success. Us included.
    .centered-container.width-normal
      .browser-frame
        img(src='/img/work-geniac/marketing-site.jpg', alt='geniac marketing site')
      a(href='http://geniac.com/' target='_blank').cta Go check it out
  //- .sub-section.approach
  //-   .centered-container.width-narrow
      //- h2.title Our approach
      //- p.copy When we first met with Geniac, their interface was task based, leaving users unsure which way to go and reaching for their phone at the first opportunity. Through careful customer research we were able to establish the key needs of business owners and create a new system with the user at its heart.