.section.process
  .title-container
    h1.title Project Evolution
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.first
        p Usability prototype
      h2.title Sketching &amp; rough builds
      p.copy With the help of card-sorting exercises, we prioritised user needs and designed an information architecture. We were then able to begin sketching ideas collaboratively with the Geniac team, designing and testing visual ways to solve the problem.
      img(src='/img/work-geniac/process-1.jpg', alt='sketching')
  .sub-section
    .centered-container.width-narrow
      .project-stage
        .project-stage-marker.last
        p Native prototype
      h2.title Interaction development
      p.copy Once we had tested and iterated on our ideas, we built an interactive site that we could trial with a wider user-base. Business owners loved it! A common response was: “When can I have this?” The web-app went on to be a huge success as our ideas were incorporated into the production interface.
      .browser-frame
        img(src='/img/work-geniac/process-2.png', alt='prototype')