.splash.project
  .animation-container.animate-on-load
    include ../../../img/work-geniac/flowchart2.svg
  header.title-container
    h1.title Geniac
    h2.tagline Everything a small business needs
    .width-extra-narrow-center
      p.description.centered-text Re-imagine how to manage a business, through a user-centred interface and direct, human customer service.
  .split-card-before
  .card.split-card-to-space.width-normal
    h2 Finding simplicity in the chaos
    p.left-text Geniac provide everything a small business needs - Accounting, Legal and Employee Management, all working together to take away the pain of managing a small to medium size business. Their customers loved the personal service they provided, but could never find the things they needed in the web interface. We set out to create a new system that keeps the user at the heart of things.