section.index-process
  .split-card-after
  .title-container#process
    h1.title What we do
    script(type="text/javascript", src="hype/index-process-resources/vivus.min.js")
  .centered-container.animation-container.process-diagram-container
    #whatwedobanner_hype_container.index-process-graphic(aria-live='polite')
      script(type='text/javascript', charset='utf-8', src='hype/index-process-resources/whatwedobanner_hype_generated_script.js?42347')
  .card.minor.width-normal
    h3 Digital products and services
    p.copy We talk to users, build apps, test them, and make them awesome. We like to work in close collaboration with our clients. Our products transform industries, make the world a better place, and put a smile on your face. Here are a few of the ways we make it happen:
  .centered-container.width-normal
    .process-icon-container
      #iconux_hype_container.animated-process-icon
        script(type='text/javascript', charset='utf-8', src='hype/icon-UX.hyperesources/iconux_hype_generated_script.js?59077')
    .process-copy
      h2.name User experience design
      p.copy It’s not enough for an app to look good - how do people feel while they use it? We make sure they love it through our structured design process.
  .centered-container.width-normal
    .process-icon-container
      #iconproto_hype_container.animated-process-icon
        script(type='text/javascript', charset='utf-8', src='hype/icon-proto.hyperesources/iconproto_hype_generated_script.js?27974')
    .process-copy
      h2.name Prototyping
      p.copy To really test an idea, you have to do it in context. We get our thoughts onto paper or screen fast, so we can test behaviour and animation where it counts.
  .centered-container.width-normal
    .process-icon-container
      #iconuidesign_hype_container.animated-process-icon
        script(type='text/javascript', charset='utf-8', src='hype/icon-UI-design.hyperesources/iconuidesign_hype_generated_script.js')
    .process-copy
      h2.name User interface design
      p.copy We’re obsessed with typography and graphic design, and it shows in our simple, elegant, intuitive interfaces.
  .centered-container.width-normal
    .process-icon-container
      #uienginicon_hype_container.animated-process-icon
        script(type='text/javascript', charset='utf-8', src='hype/UI-engin-icon.hyperesources/uienginicon_hype_generated_script.js?96640')
    .process-copy
      h2.name User interface engineering
      p.copy With decades of experience between us, we're as particular about our code as we are about our design.