.splash
  .full-page
    .text-container
      h1
        div.logo-sketch-wrapper
          img(src='/img/mup-branding/logotype-white-clean-2000.png', alt='Make Us Proud', class='title-logo')
        div.tagline
          | Helping you change the world with digital&nbsp;products
  .hompage-animation-lead-in-wrapper
    .homepage-header-animation-container
  .lip-block
    .lip