section.team
  .title-container
    h1.title#team Meet the team
    p.description We believe that to make the best products, you need to be able to think and work across disciplines - so everyone at Make Us Proud has experience with research, design, prototyping and engineering.
  .centered-container.width-normal
    .col-2.profile
      img(src='/img/portraits/anthony.jpg', alt='Anthony Mann').avatar
      h2.name Anthony Mann
      p.role Founder &amp; Digital Product Designer
      p.about When he’s not building drones, or  home-automation mashups, Anthony disrupts whole industries for fun.
      .social
        a(href='http://twitter.com/objectCreate/')
          img(src='/img/common-elements/team-twitter.svg', alt='twitter', class='team-social-icon')
        a(href='https://uk.linkedin.com/pub/anthony-mann/14/512/112')
          img(src='/img/common-elements/team-linkedin.svg', alt='linkedin', class='team-social-icon')
    .col-2.profile
      img(src='/img/portraits/gilbert.jpg', alt='Gilbert Sinnott').avatar
      h2.name Gilbert Sinnott
      p.role Creative Engineer
      p.about Code genius by day, veejay by night, cycling across the world the rest of the time. Yes, we know that’s impossible.
      .social
        a(href='https://twitter.com/gilbertsinnott')
          img(src='/img/common-elements/team-twitter.svg', alt='twitter', class='team-social-icon')
        a(href='https://www.linkedin.com/in/gilbertsinnott')
          img(src='/img/common-elements/team-linkedin.svg', alt='linkedin', class='team-social-icon')
    .col-2.profile
      img(src='/img/portraits/jack.jpg', alt='Jack Bush').avatar
      h2.name Jack Bush
      p.role Digital Product Designer
      p.about Jack makes chocolate-eating art installations as easily as web-apps. He also runs for fun and trains brains with his incredible wearable devices.
      .social
        a(href='http://twitter.com/jackbush/')
          img(src='/img/common-elements/team-twitter.svg', alt='twitter', class='team-social-icon')
        a(href='https://uk.linkedin.com/in/bushjack')
          img(src='/img/common-elements/team-linkedin.svg', alt='linkedin', class='team-social-icon')
    .col-2.profile
      img(src='/img/portraits/bill.jpg', alt='Bill Tribble').avatar
      h2.name Bill Tribble
      p.role Digital Product Designer
      p.about Despite living a secret life as an electronic band rock-star, Bill finds the time to design ground-breaking apps and digital art.
      .social
        a(href='https://twitter.com/bill_tribble')
          img(src='/img/common-elements/team-twitter.svg', alt='twitter', class='team-social-icon')
        a(href='https://uk.linkedin.com/in/billtribble')
          img(src='/img/common-elements/team-linkedin.svg', alt='linkedin', class='team-social-icon')
