div.nav-please.give-me-a-hat.work-teaser.animate-on-scroll.alcatel
  .lead-in
      h2#work Our work
section.work-teaser.animate-on-scroll.alcatel
  .image-container
    .center
      img(src='/img/index-work/alcatel-1.png')
    .center-left
      img(src='/img/index-work/alcatel-2.png')
    .center-right
      img(src='/img/index-work/alcatel-3.png')
    .left
      img(src='/img/index-work/alcatel-4.png')
    .right
      img(src='/img/index-work/alcatel-5.jpg')
  .title-container
    h1.title Alcatel Lucent
    p.description Bringing a human perspective to an incredible technology company, through interactive set-pieces and powerful content.
    a(href='/work/alcatel-lucent/', class='cta') See the case study
section.work-teaser.animate-on-scroll.geniac
  .image-container
    .center
      img(src='/img/index-work/geniac-1.jpg')
    .center-left
      img(src='/img/index-work/geniac-2.jpg')
    .center-right
      img(src='/img/index-work/geniac-3.jpg')
    .left
      img(src='/img/index-work/geniac-4.jpg')
    .right
      img(src='/img/index-work/geniac-5.jpg')
  .title-container
    h1.title Geniac
    p.description Re-imaging how to manage a business, through a smashing user-centred interface and direct, human customer service.
    a(href='/work/geniac/', class='cta') See the case study
section.work-teaser.animate-on-scroll.discovery
  .image-container
    .center
      img(src='/img/index-work/discovery-1.jpg')
    .center-left
      img(src='/img/index-work/discovery-2.jpg')
    .center-right
      img(src='/img/index-work/discovery-3.jpg')
    .left
      img(src='/img/index-work/discovery-4.jpg')
    .right
      img(src='/img/index-work/discovery-5.jpg')
  .title-container
    h1.title Discovery Channel
    p.description A delightful, simple cross-platform video service for discovering&nbsp;great&nbsp;content.
    a(href='/work/discovery/', class='cta') See the case study