section.bottom-cta
  .title-container
    h2.title How can we help?
    p.description If you’ve got a project in mind, or you’d just like to discuss some ideas, don’t hesitate to drop us a line.
    button.cta.show-contact-modal Get in touch