section.footer
  .centered-container.width-wide
    img(src='/img/mup-branding/logotype-grey-small.png', alt='make us proud')
    .col-3
      h2.contact-method Email
      a(href='mailto:billt@btribble.com', target='_blank')
        p.contact-detail
          span.email billt@btribble.com
    .col-3
      h2.contact-method Location
      p.contact-detail
        address
          p Hackney, London
          p (Ocassionally Tokyo)
    .col-3
      h2.contact-method Social
      p.contact-detail
        span.twitter
          a(href='https://twitter.com/bill_tribble/', target='_blank') Twitter
    p.copyright © Bill Tribble 2003 - 2016. All rights reserved.